<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>DEHB Detection</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Bu uygulama kamera erişimi gerektirmez</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Bu uygulama mikrofon erişimi gerektirmez</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Bu uygulama konum erişimi gerektirmez</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Bu uygulama fotoğraf galerisi erişimi gerektirmez</string>
	<key>NSContactsUsageDescription</key>
	<string>Bu uygulama kişi listesi erişimi gerektirmez</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Bu uygulama Face ID erişimi gerektirmez</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSUserTrackingUsageDescription</key>
	<string>Bu uygulama, size daha iyi reklam deneyimi sunmak için reklam kimliği kullanır. Reklamlar internet üzerinden yüklenir.</string>
	<key>UIBackgroundModes</key>
	<array/>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>default</string>
</dict>
</plist>